{% extends 'web/base.html'%}
{% block body %}

    {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
            {% endfor %}
            </ul>
    {% endif %}
	<div class="container-fluid">
    
    <!-- Movie list -->
    <div class="row">
            {% if movies %}
            {% for movie in movies %}
                <div class="col-sm-2 col-md-2 " style="margin-bottom:1rem">
                    <div class="card" style="height:100%">
                        <a href="{% url 'detail' movie.id %}">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path}}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{movie.title}}</h5>
                            <p class="card-text text-truncate">{{movie.overview}}</p>
                            <a href="{% url 'detail' movie.id %}" class="btn btn-primary">Give Rating</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>
    
</div>

{% endblock %}